* {
    padding: 0;
    margin: 0;
}

:root {
    --backgroundColor: #000000;
    --color: #F6F6F6;
    --secondaryColor: #CFFFE2;
    --extraColor: #A2D5C6;
}

body{
    background-color: var(--backgroundColor);
}

#certificates-container{
    scrollbar-width: none;
}


.nav-btn:hover{
    transform: translateY(-2px) scale(1.2);
    transition: ease-in-out 0.3s;
}

.timeline::after{
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 6px;
    height: 100%;
    top: 0;
    background-color: white;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    transition: height 4s linear;
}

.hide {
    opacity: 0;
    transform: translateY(20px); /* Add this line */
    transition: all 0.6s ease;
}

.show {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.6s ease;
}

@media screen and (max-width: 600px) {
    .timeline::after{
        left: 10px;
    }
}
